.row-fluid .offset4 {margin-left: 30%;}
.float-l {float: left;}
.clr {clear: both;}

@font-face {
	font-family: 'PGIsadoraCyrProRegular';
	src: url('fonts/PGIsadoraCyrProRegular.ttf');
}


@font-face {
	font-family: 'RobotoCondensedLight';
	src: url('fonts/RobotoCondensed-Light.ttf');
}

@media screen and (max-width: 1000px) {
	nav.span5.offset4 {
		width: 35.93617%;
	}
	div#main {
		width:60%;
	}

	div.search > form.form-inline > label.element-invisible {
		display: none;
	}

	.foodOut, .StaticPageOut, .StaticCategoryOut, .FoodCategoryOutItem {
		margin-left: 25px;
	}
}

html {direction: ltr;}

body {
	background-image: url('../images/backgrounds/background-all.png');
}
/* Header */
header {
	background-image: url('../images/backgrounds/background-top-line.png');
	background-repeat: repeat-x;
	height: 40px;
}
/* Main menu */
nav > ul.nav.menu {
	display: table;
}

nav > ul.nav.menu > li {
	display: inline-block;
	padding: 8px 0 0 20px;
}

nav > ul.nav.menu > li > a,
nav > ul.nav.menu > li > a:hover,
aside > ul.nav.menu > li > a,
aside > ul.nav.menu > li > a:hover {
	color: rgb(255, 255, 255);
	background: none;
}

nav > ul.nav.menu > li > a:hover,
aside > ul.nav.menu > li > a:hover {
	text-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.mod-languages {
	margin: 7px 0;
	padding: 0;
}

/* Search box on top */
.search.span3 {
	height: 30px;
	padding-top: 8px;
}

div.search.span3 > form.form-inline > label.element-invisible {
	color: rgb(255, 255, 255);
	display: table;
	float: left;
	padding: 2px 10px 0 0;
}

div.search.span3> form.form-inline > input#mod-search-searchword {
	height: 12px;
	width: 100px;
}

/* Left block logo + aside */
div#left {
	display: table;
	position: absolute;
	top: 0;
	z-index: 1;
	direction: ltr;
}

div#logo {
	display: table;	
	margin: 0 auto;
	padding: 5px 25px 20px;
	border: 1px solid rgb(215, 62, 26);
	border-radius: 0 0 12px 12px;
	margin-bottom: 30px;
	background-color: rgb(215, 62, 26);
	box-shadow: 2px 2px 2px;
}

aside.moduletable {
	display: table;
	margin: 0 auto;
	border: 1px solid rgb(215, 62, 26);
	border-radius: 12px 12px 12px 12px;
	background-color: rgb(215, 62, 26);
	box-shadow: 2px 2px 2px;
	padding: 12px 10px 0;
	width: 144px;
}

aside.moduletable > h2.menu-name {
	font-size: 40px !important;
	color: rgb(255, 245, 0);
	font-weight: normal;
}

aside.moduletable > h2.menu-name,
aside > ul.nav.menu {
	display: table;
	margin: 0 auto 12px;
	text-align: center;
}

aside > ul.nav.menu > li {
	padding: 8px 0;
	text-align: center;
	display: table;
	width: 140px;
}

aside > ul.nav.menu > li.current.active {
	background-image: url('../images/backgrounds/background-active-link.png');
	background-repeat: no-repeat;
	background-size: 336px 41px;
	width: 183px;
	padding: 12px 88px 0px 74px;
	margin-left: -97px;
	height: 29px;
	line-height: 10px;
}

aside.moduletable > h2.menu-name,
aside > ul.nav.menu > li > a {
	font-family: PGIsadoraCyrProRegular, Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
}

/* Big bamer */
div#bigcentralslider {
	display: table;
	z-index: -12;
}
div#bigcentralslider > .bannergroup {
	display: table;
	margin: 0 auto;
	position: relative;
	top: -13px;
}

div#bigcentralslider > .bannergroup > .banneritem > img {
	max-height: 400px;
}
/* Breadcrumbs */
div#breadcrumbs {
	margin-left: 0;
}

div#breadcrumbs .breadcrumb {
	margin: 0;
	background: none;
}

.breadcrumb > li,
.breadcrumb > li > a {
	color: rgb(249, 77, 14) !important;
}
/* Main container */
div#main {
	
}

.main-content {
	position: inherit;
	z-index: 0;
	/*background-color: rgb(255, 255, 255);
	padding: 30px;
	border-radius: 7px;
	box-shadow: 2px 2px 20px;*/
}
/* Static page category */
.StaticCategoryOut h1,
.StaticPageOut h1,
.foodOut h1 {
	font-size: 30px;
	text-align: left;
	text-transform: none;
	color: rgb(132, 33, 11);
	font-family: RobotoCondensedLight;
}

.StaticCategoryOut h2 {
	font-size: 22px;
}

.StaticCategoryOut h2 > a {
	color: rgb(255, 127, 80);
	text-decoration: none;
}

.StaticCategoryOut h2 > a:hover {
	text-shadow: 10px 4px 8px rgb(110, 0, 0);
}

/* Product list on index page*/
.indexImageLinkList {
	height: 115px;
	padding: 5px;
	
	border: 3px solid rgb(255, 255, 255);
	box-shadow: 3px 4px 6px gray;
	border-radius: 12px;

	position: relative;
	z-index: 0;

	background: #af0101; /* Old browsers */
	background: -moz-linear-gradient(top,  #af0101 0%, #c54949 50%, #af0101 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#af0101), color-stop(50%,#c54949), color-stop(100%,#af0101)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #af0101 0%,#c54949 50%,#af0101 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #af0101 0%,#c54949 50%,#af0101 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #af0101 0%,#c54949 50%,#af0101 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #af0101 0%,#c54949 50%,#af0101 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af0101', endColorstr='#af0101',GradientType=0 ); /* IE6-9 */
}

.indexImageLinkList span.price, span.price {
	display: table;
	position: relative;
	z-index: 2;
	color: rgb(255, 245, 0);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	font-size: 23px;
	font-family: RobotoCondensedLight;
	letter-spacing: 1px;
}

.indexImageLinkList a {
	display: table;
	position: absolute;
	bottom: 0;
	left: 23%;
}
}

.indexImageLinkList img {
	display: table;
	z-index: -1;
	position: relative;
	bottom: 2px;
}
/* Static page */
.foodOut,
.StaticPageOut, 
.StaticCategoryOut, 
.FoodCategoryOutItem {
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 7px;
	box-shadow: 2px 2px 20px;
}

.StaticCategoryOut .itemContainer {
	border-bottom: 1px dashed rgba(255, 127, 80, 0.4);
	padding-bottom: 10px;
	margin: 0 5px;
}

.StaticCategoryOut h2.catItemTitle {
	margin: 0;
	padding-left: 15px;
	line-height: 30px;
}

.StaticPageOutBody p {
	text-indent: 20px;
}

.itemContainer a.readMore.btn {
	background: rgb(196, 53, 1);
	color: white;
	text-shadow: none;
	margin-top: 5px;
}
/* Product category out*/
.FoodCategoryOutItem {
	width: 28%;
	margin: 10px 10px;
	padding: 10px;
	min-height: 270px;
}

.FoodCategoryOutItem .catItemImageBlock {
	display: table;
	margin: 0 auto;
}

.FoodCategoryOutItem span.price {
	margin: 0 auto;
	color: rgb(198, 195, 0);
}

.FoodCategoryOutItem h3 {
	font-size: 18px;
	display: table;
	margin: 15px auto;
	text-align: center;
	line-height: 20px;
}

.FoodCategoryOutItem h3 > a,
.FoodCategoryOutItem h3 > a:hover {
	color: rgb(173, 173, 173);
	font-family: RobotoCondensedLight;
}
/* Food out */
.foodOut span.price {
	margin: 0 auto;
	padding-top: 30px;
	font-size: 40px;
}
/* Footer */
footer {
	margin-top: 40px;
}

hr.separator {
	margin: 53px 0 0px -30px;
	border: 1px solid rgb(242, 148, 112);
}

p.copy {
	margin: 5px 35px 15px;
	color: rgb(254, 116, 99);
}

ul.nav.menu.small-menu {
	display: inline;
	height: 20px;
	margin: 0;
}

ul.nav.menu.small-menu li {
	display: block;
	height: 20px;
	float: left;
	margin: 5px 36px;
}

ul.nav.menu.small-menu li > a,
ul.nav.menu.small-menu li > a:hover {
	color: rgb(254, 116, 99);
	background: none;
}

.social{
	margin-bottom: -20px;
}

p.autor {
	display: table;
	margin: 0 auto;
	color: rgb(255, 231, 172);
	position: relative;
	bottom: -30px;
}